* {
  transition: all 0.25s ease-in-out;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* height: 2000px; */
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

body {
  background-image: url("/img/element_3.svg");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 20vh;
  left: 35%;
  width: 240px;
  height: 120px;
  background-image: url("/img/cloud-red.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 40vh;
  left: 10%;
  width: 240px;
  height: 120px;
  background-image: url("/img/cloud-red.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
  font-family: "Open Sans", sans-serif;
}

section {
  /* min-height: 90vh; */
  padding: 48px 96px;
  margin-bottom: 32px;
}

section h1.title {
  font-size: 4em;
  color: #3e3e3e;
  position: relative;
  margin-bottom: 56px;
}

section h1.title::after {
  content: "";
  width: 160px;
  height: 6px;
  border-radius: 4px;
  background-color: #ee3359;
  position: absolute;
  left: 0;
  bottom: -16px;
}

.header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 92px;
  z-index: 99;
}

.brand {
  display: flex;
  align-items: center;
  color: #2047a8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.header .brand span {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #d52425;
  margin-left: 4px;
}

.header .brand img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 16px;
}

.header nav {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .hamburger {
  display: none;
}

.header nav a {
  margin: 0 24px;
}

.btn {
  padding: 16px 32px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btn.orange {
  background-color: #f97f34;
}

.btn.blue {
  background-color: #3a4aa1;
}

.header .right select {
  margin-right: 24px;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 16px 8px;
  font-size: 1em;
  font-weight: bold;
}

.hero {
  min-height: calc(100vh - 150px);
  padding: 0 96px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-banner {
  flex: 1;
  color: #3e3e3e;
  padding-bottom: 48px;
}

.hero-banner h1 {
  font-size: 4.2em;
}

.hero-banner h3 {
  font-size: 3.2em;
}

.hero-image {
  height: 400px;
  width: 400px;
  position: relative;
}

.hero-resi {
  margin: 32px 0 56px;
}

.hero-resi span {
  position: relative;
}

.hero-resi span::before {
  content: "";
  height: 5px;
  width: 20px;
  border-radius: 3px;
  background-color: #ee3359;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-resi span a {
  color: #f7a2b3;
  margin-left: 32px;
}

.resi-input {
  width: 75%;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px 2px rgb(255, 242, 234);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background-color: #fff;
}

.resi-input * {
  font-size: 1.4em;
}

.resi-input input {
  flex: 1;
  outline: none;
  border: none;
  padding: 16px 32px;
  letter-spacing: 1.3px;
}

.resi-input input::placeholder {
  columns: #c0c0c0;
}

.check {
  background-color: #3a4aa1;
  width: 75%;
  border-radius: 0 8px 8px 0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.check .btn {
  padding: 32px;
  font-size: 1.3em;
}

.check form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.check-label {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.check-label span {
  font-size: 0.9em;
  margin-bottom: 8px;
}

.check-input {
  font-size: 1.2em;
  border: none;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-weight: bold;
}

.how {
}

.how ul {
  list-style: none;
}

.how ul li {
  min-height: 120px;
  padding-bottom: 32px;
  /* border: 1px solid blue; */
  position: relative;
}

.how ul li span {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: #f97f34;
}

.how ul li span img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.how ul li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -48px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #2047a8;
  z-index: 1;
}

.how ul li::after {
  content: "";
  position: absolute;
  top: 13px;
  left: -40px;
  width: 0px;
  height: 100%;
  border-left: 3px dashed #ffbd69;
}

.how ul li:last-child::after {
  border-left: none;
}

.how ul li h4 {
  font-size: 1.3em;
  color: #3e3e3e;
}

.service {
  display: flex;
  flex-direction: column;
}

.service-section {
  flex: 1;
  display: flex;
  align-self: center;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.service-card {
  margin: 48px;
  width: 240px;
}

.service-card img {
  width: 100%;
}

.service-card h4 {
  text-align: center;
  margin-top: 24px;
  color: #3e3e3e;
  font-size: 1.3em;
}

.maps {
  margin: 56px 0;
  border-radius: 0 16px 16px 0;
}

.maps-view {
  width: 90%;
  border-radius: 0 16px 16px 0;
  background-color: #3a4aa1;
  display: flex;
}

.maps-view-content {
  flex: 6;
  background-color: #fff;
}

.maps-view-desc {
  flex: 4;
  padding: 56px 48px;
  color: #fff;
}

.maps-view-desc h2 {
  line-height: 1.5;
}

.maps-view-desc > * {
  margin-bottom: 48px;
}

.maps-view-desc > *:last-child {
  margin-bottom: 0;
}

.aboutus p {
  line-height: 2;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  color: #444;
}

.aboutus h3 {
  margin: 56px 0 16px;
  font-size: 2.5em;
  color: #3e3e3e;
}

.aboutus ul {
  margin: 0;
  padding: 0 0 0 16px;
  list-style: none;
}

.aboutus ul li {
  display: flex;
  align-items: center;
}

.aboutus ul li::before {
  content: "";
  background-color: #ee3359;
  display: block;
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  max-width: 8px;
  max-height: 8px;
  border-radius: 4px;
  margin-left: -1em;
  margin-right: 1em;
}

footer {
  min-height: 400px;
  background-color: #f8f9ff;
  display: flex;
  justify-content: space-between;
  padding: 56px 96px;
}

footer > .product .brand {
  margin-bottom: 32px;
}

footer > * {
  margin-bottom: 32px;
}

footer > * > h3 {
  font-size: 2em;
  color: #3e3e3e;
  margin-bottom: 24px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  padding: 8px 0;
}

footer ul li,
footer ul li a {
  display: flex;
  align-items: center;
}

footer ul li img {
  height: 24px;
  width: 24px;
  object-fit: contain;
  margin-right: 16px;
}

.credit {
  background-color: #3a4aa1;
  padding: 24px 96px;
  display: flex;
  justify-content: space-between;
}
.credit p,
.credit a {
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 1px;
}

footer .seemore {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #f97f34;
  color: #fff;
  letter-spacing: 1.1px;
}

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal > .container {
  position: absolute;
  top: 10%;
  left: 5%;
  right: 5%;
  bottom: 10%;
  background-color: #fff;
  border-radius: 8px;
}

.modal > .container > span {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.modal > .container > span > img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1090px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    top: 0;
    max-height: 85px;
  }
  .header .brand {
    margin: 24px;
  }
  .header .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-500px);
  }
  .header .right.active {
    transform: translateY(0px);
  }
  .header .right select {
    margin: 0 0 24px;
  }
  .header .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px;
    cursor: pointer;
  }
  .header .hamburger span,
  .header .hamburger span::before,
  .header .hamburger span::after {
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(249, 127, 52, 1);
  }
  .header .hamburger span {
    position: relative;
  }
  .header .hamburger span::before,
  .header .hamburger span::after {
    content: "";
    position: absolute;
    left: 0;
  }
  .header .hamburger.active span::before,
  .header .hamburger.active span::after {
    top: 0;
    transform: rotate(0);
    transition: all 0.25s ease-in-out;
  }
  .header .hamburger span::before {
    top: -9px;
  }
  .header .hamburger span::after {
    top: 9px;
  }
  .header .hamburger.active span {
    background-color: rgba(249, 127, 52, 0);
  }
  .header .hamburger.active span::before {
    transform: rotate(-45deg);
  }
  .header .hamburger.active span::after {
    transform: rotate(45deg);
  }
  .header nav {
    position: initial;
    flex-direction: column;
    transform: initial;
    width: 100%;
    margin-bottom: 24px;
  }
  .header nav a {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #2e2e2e;
    padding: 16px;
    position: relative;
  }
  .header nav a::after {
    content: "";
    position: absolute;
    width: 96px;
    height: 12px;
    border-radius: 3px;
    background-color: rgba(249, 127, 52, 0.3);
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
    z-index: -1;
  }
  .hero-banner h1 {
    font-size: 3em;
  }
  .hero-banner h3 {
    font-size: 2em;
  }
}

@media screen and (max-width: 980px) {
  .hero,
  section {
    padding: 0 48px;
  }
  .hero-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-banner {
    text-align: center;
  }
  .hero-banner h1 {
    font-size: 2em;
  }
  .hero-banner h3 {
    font-size: 1.3em;
  }
  .resi-input {
    width: 100%;
    padding: 8px;
  }
  .resi-input * {
    font-size: initial;
  }
  .resi-input input {
    width: 100%;
    padding: 8px;
  }
  .check .btn,
  .resi-input .btn {
    font-size: 0.9em;
    padding: 16px 24px;
  }
  .check {
    width: 90%;
  }
  .aboutus h3 {
    font-size: 2em;
  }
  .aboutus p {
    font-size: initial;
  }
  .maps-view {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }
  .maps-view-content {
    height: 400px;
  }
  .maps-view-desc {
    padding: 32px;
  }
  .maps-view-desc h2 {
    font-size: 1em;
  }
  .maps-view-desc > * {
    margin-bottom: 32px;
  }
  footer {
    flex-direction: column;
    padding: 32px 48px;
  }
  .credit {
    padding: 24px 48px;
  }
}

@media screen and (max-width: 640px) {
  .hero,
  section {
    padding: 0 24px;
  }
  footer {
    padding: 24px;
  }
  .hero-image {
    width: 100%;
  }
  .check {
    width: 100%;
    border-radius: 0;
    flex-direction: column;
  }
  .check form {
    flex-direction: column;
    align-items: flex-start;
  }
  .check-label {
    margin-bottom: 24px;
  }
  .credit {
    padding: 24px;
  }
}

@media screen and (max-width: 460px) {
  .resi-input {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
  }

  .resi-input input {
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 1);
  }
}
